.input-field {
    height: 50px;
    width: 500px;
    border: none;
    border-radius: 2rem;
    outline: none;
    background-color: #ebebeb;
    color: #4b4a4f;
    font-family: Helvetica;
    font-size: 15px;
    text-indent: 1rem;
    transition: all 0.3s;
    box-shadow: 0.5rem;
}