.logo-svg {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}

.text-wrapper {
    padding-top: 2rem;
    color: #7b7b7b;
}